/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}

h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  font-weight: bold;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #dcdcdc;
}

th {
  font-weight: bold;
  color: #2c3e50;
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #d3e7ff;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #dcdcdc;
}

li:last-child {
  border-bottom: none;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  
  .task-link {
  color: #007bff;
  text-decoration: none;
}

.task-link {
  background-color: transparent;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}



  td:nth-of-type(1):before { content: "ID"; }
  td:nth-of-type(2):before { content: "Name"; }
  td:nth-of-type(3):before { content: "Description"; }
}
